@model Web.Models.City.CityModel


<div class="container">
	<div class="col-gl-9">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#Main" aria-controls="Main" role="tab" data-toggle="tab">Основные параметры</a></li>
			<li role="presentation"><a href="#Rate" aria-controls="Rate" role="tab" data-toggle="tab">Коэффициенты</a></li>
			<li role="presentation"><a href="#CityType" aria-controls="CityType" role="tab" data-toggle="tab">Типы городских строений</a></li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="Main">
				<div class="container">
					<div class="col-md-4">
						@Html.EditorFor(x => x.City.Name, "StringEditor", new {form = "mainForm"})
						@Html.EditorFor(x => x.City.Population, "IntTemplate", new { form = "mainForm" })
						@Html.EditorFor(x => x.City.ChildPercent, "IntTemplate", new { form = "mainForm" })
						@Html.EditorFor(x => x.City.Width, "NumberEditor", new { form = "mainForm" })
						@Html.EditorFor(x => x.City.Lenght, "NumberEditor", new { form = "mainForm" })
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="Rate">
				<div class="container">
					<div class="col-md-4">
						@Html.EditorFor(x => x.City.Aa, "NumberEditor", new { form = "mainForm" })
						@Html.EditorFor(x => x.City.Au, "NumberEditor", new { form = "mainForm" })
						@Html.EditorFor(x => x.City.Apr, "NumberEditor", new { form = "mainForm" })
						@Html.EditorFor(x => x.City.Aw, "NumberEditor", new { form = "mainForm" })
					</div>
					<div class="col-md-4">
						@Html.EditorFor(x => x.City.AaChild, "NumberEditor", new { form = "mainForm" })
						@Html.EditorFor(x => x.City.AuChild, "NumberEditor", new { form = "mainForm" })
						@Html.EditorFor(x => x.City.AprChild, "NumberEditor", new { form = "mainForm" })
						@Html.EditorFor(x => x.City.AwChild, "NumberEditor", new { form = "mainForm" })
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="CityType">
				<div class="container">
					<div id="CityTabDiv">
						@foreach (var cityType in Model.Buildings)
						{
							@Html.Partial("~/Views/City/CityTypesTab.cshtml", cityType);
						}
					</div>
					<a id="AddNewCityType" class="btn btn-info glyphicon glyphicon-plus" onclick="RenderGet('@Url.Action("NewCityType", new {cityId = Model.City.CityId})', '#CityTabDiv')"> Добавить тип сооружения</a>
				</div>
			</div>
		</div>
	</div>
</div>
