@model AhovRepository.Entity.CityTypeEntity

@{
	var formId = "CityTypeForm_" + Model.Id;
	var targetId = "ServerAnswerFor_" + Model.Id;
	var panelId = "PanelFor_" + Model.Id;
	var waitId = "Wait_" + Model.Id;
	var waitFClose = "WaitC_" + Model.Id;
}

<div id="@panelId" class="col-md-5 ">
	<div class="panel panel-default ">
		<div class="panel-body">
			
			@using (Html.BeginForm("EditCityType", "City", FormMethod.Post, new { id = formId }))
			{
				<div id="DeleteCityType_@Model.City.CityId" class="text-right"
				     onclick="SendAndRemove('@Url.Action("RemoveCityType", "City", new {cityTypeId = Model.Id})', '#@panelId', '#@waitFClose')">
					<img class="hidden" id="@waitFClose" src="~/Content/Images/loadAnimation.GIF" alt="" />
					<a role="button"><i class="glyphicon glyphicon-remove"></i></a>
				</div>
				@Html.HiddenFor(x => x.Id )
				@Html.HiddenFor(x => x.City.CityId )
				<div class="form-group">
					@Html.LabelFor(x => x.Name)
					@Html.EditorFor(x => x.Name, new {htmlAttributes = new {@class = "form-control", placeholder = "Тип здания"}})
				</div>
				<div class="form-group">
					@Html.LabelFor(x => x.Kp)
					@Html.EditorFor(x => x.Kp, new {htmlAttributes = new {@class = "form-control", placeholder = "Коэффициент проникнования"}})
				</div>
				<div class="form-group">
					@Html.LabelFor(x => x.Ay)
					@Html.EditorFor(x => x.Ay, new {htmlAttributes = new {@class = "form-control", placeholder = "Доля населения"} })
				</div>
				<input class="btn btn-info" type="button" value="Сохранить" id="CityType_@Model.Id"
				       onclick="SubmitAndRender('#@formId', '@Url.Action("EditCityType", "City")', '#@targetId', '#@waitId')"/>
				<img class="hidden" id="@waitId" src="~/Content/Images/loadAnimation.GIF" alt="" />
				<div>
					<div id="@targetId"></div>
				</div>
			}
		</div>
	</div>
</div>
