@model Web.Models.Admin.UserListModel

@{
	ViewBag.Title = "Список пользователей";
}

<h2>Список пользователей</h2>

<div class="container">
	<table class="table table-hover">
		<tr>
			<th>Id</th>
			<th>Логин</th>
			<th>ФИО</th>
			<th>E-mail</th>
			<th>Роль</th>
		</tr>
		@foreach (var user in Model.Users)
		{
			<tr>
				<td>@Html.ActionLink(@user.UserId.ToString(), "EditUser", new {userId = user.UserId})</td>
				<td>@user.Login</td>
				<td>@user.Fio</td>
				<td>@user.Email</td>
				<td>@user.Role</td>
			</tr>
		}
	</table>
</div>


