@using Forcast
@model Web.Models.Forcast.ResultModel

@{
	ViewBag.Title = "Результаты прогноза";
}

<h2>Результаты прогноза</h2>
<div class="container">
	<div class="row">
		<div class="col-md-5">С применением антидотов</div>
		<div class="col-md-5">Без применения антидотов</div>
	</div>
<div class="row">
	<div>Паражающий параметр первичного облака</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.ForDef.Qpa1, null)
	</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.WithoutDef.Qpa1, null)
	</div>
	<hr/>
</div>
<div class="row">
	<div>Глубина распротранения первичного облака</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.ForDef.Ga1, null)
	</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.WithoutDef.Ga1, null)
	</div>
	<hr/>
</div>
<div class="row">
	<div>Глубина поражения первичного облака на открытой местности</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.ForDef.Gam1, null)
	</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.WithoutDef.Gam1, null)
	</div>
	<hr/>
</div>
<div class="row">
	<div>Площадь распространения первичного облака</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.ForDef.Sa1, null)
	</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.WithoutDef.Sa1, null)
	</div>
	<hr/>
</div>
<div class="row">
	<div>Площадь распространения первичного облака (на открытой местности)</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.ForDef.Sam1, null)
	</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.WithoutDef.Sam1, null)
	</div>
	<hr/>
</div>
<div class="row">
	<div>Паражающий параметр вторичного облака</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.ForDef.Qpa2, null)
	</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.WithoutDef.Qpa2, null)
	</div>
	<hr/>
</div>
<div class="row">
	<div>Глубина распространения вторичного облака</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.ForDef.Ga2, null)
	</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.WithoutDef.Ga2, null)
	</div>
	<hr/>
</div>
<div class="row">
	<div>Глубина распространения вторичного облака на открытой месности</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.ForDef.Gam2, null)
	</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.WithoutDef.Gam2, null)
	</div>
	<hr/>
</div>
<div class="row">
	<div>Площадь распространения вторичного облака</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.ForDef.Sa2, null)
	</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.WithoutDef.Sa2, null)
	</div>
	<hr/>
</div>
<div class="row">
	<div>Площадь распространения вторичного облака на открытой местности</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.ForDef.Sam2, null)
	</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.WithoutDef.Sam2, null)
	</div>
	<hr/>
</div>
<div class="row">
	<div>Общая глубина распространения первичного облака</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.ForDef.Gao1, null)
	</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.WithoutDef.Gao1, null)
	</div>
	<hr/>
</div>
<div class="row">
	<div>Общая глубина распространения вторичного облака</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.ForDef.Gam2, null)
	</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.WithoutDef.Gam2, null)
	</div>
	<hr/>
</div>
<div class="row">
	<div>Общая глубина распространения облака</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.ForDef.Gas, null)
	</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.WithoutDef.Gas, null)
	</div>
	<hr/>
</div>
<div class="row">
	<div>Общая площадь распространения облака</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.ForDef.Sas, null)
	</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.WithoutDef.Sas, null)
	</div>
	<hr/>
</div>
<div class="row">
	<div>Приведенная глубина распространения облака</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.ForDef.Gau, null)
	</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.WithoutDef.Gau, null)
	</div>
	<hr/>
</div>
<div class="row">
	<div>Приведенная площадь распространения облака</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.ForDef.Sau, null)
	</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.WithoutDef.Sau, null)
	</div>
	<hr/>
</div>
<div class="row">
	<div>Sap</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.ForDef.Sap, null)
	</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.WithoutDef.Sap, null)
	</div>
	<hr/>
</div>
<div class="row">
	<div>Saw</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.ForDef.Saw, null)
	</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.WithoutDef.Saw, null)
	</div>
	<hr/>
</div>
<div class="row">
	<div>App</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.ForDef.App, null)
	</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.WithoutDef.App, null)
	</div>
	<hr/>
</div>
<div class="row">
	<div>Soap</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", new DoubleArray(Model.ForDef.Soap, 2), null)
	</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", new DoubleArray(Model.WithoutDef.Soap, 2), null)
	</div>
	<hr/>
</div>
<div class="row">
	<div>Пораженные среди населения</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.ForDef.Npa, null)
	</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.WithoutDef.Npa, null)
	</div>
	<hr/>
</div>
<div class="row">
	<div>Пораженные среди персонала</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.ForDef.Nopa, null)
	</div>
	<div class="col-md-5">
		@Html.Partial("DoubleArray", Model.WithoutDef.Nopa, null)
	</div>
	<hr/>
</div>
<div class="row">
	<div class="col-md-5">
		<div>Потери среди населения</div>
		@Html.Partial("DoubleArray", Model.Result.Nps, null)
	</div>
	<div class="col-md-5">
		<div>Потери среди персонала</div>
		@Html.Partial("DoubleArray", Model.Result.Nos, null)
	</div>
	<hr/>
</div>
	<div class="row">
		<div class="col-md-5">
			<div>Потери среди населения (с учетом распреденения)</div>
			@Html.Partial("DoubleArray", Model.Result.Nf, null)
		</div>
		<div class="col-md-5">
			<div>Потери среди пресонала (с учетом распреденения)</div>
			@Html.Partial("DoubleArray", Model.Result.Nfs, null)
		</div>
		<hr />
	</div>
</div>