@model double
	
@{
	var needAddon = ViewData.ModelMetadata.AdditionalValues.ContainsKey("Dimension");
	string dem = String.Empty;
	if (needAddon)
	{
		dem = ViewData.ModelMetadata.AdditionalValues["Dimension"] as string;
	}
	var formName = ViewData.ContainsKey("form") ? (string)ViewData["form"] : null;
}
<div class="form-group">
	@Html.LabelFor(x => x)
	@if (needAddon)
	{
		<div class="input-group">
			@if (!string.IsNullOrEmpty(formName))
			{
				@Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue, new {@class = "form-control text-right", form = formName})
			}
			else
			{
				@Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue, new { @class = "form-control text-right"})
			}
			<div class="input-group-addon">@dem</div>
		</div>
	}
	else
	{
		if (!string.IsNullOrEmpty(formName))
		{
			@Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue, new { @class = "form-control text-right", form = formName })
		}
		else
		{
			@Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue, new { @class = "form-control text-right" })
		}
	}
</div>