@model Web.Models.User.UserModel

@{
	ViewBag.Title = "Редактирование данных";
}

<h2>Редактирование данных</h2>

@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{
	<div class="container">
		<div class="col-md-4">
			@Html.HiddenFor(x => x.Info.UserId)
			@Html.EditorFor(x => x.Info.Login, "DisabledStringEditor")
			@Html.EditorFor(x => x.Info.Email, "StringEditor")
			@Html.EditorFor(x => x.Info.Fio, "StringEditor")
			@Html.EditorFor(x => x.Password, "PasswordEditor")
			@Html.EditorFor(x => x.NewPassowrd, "PasswordEditor")
			<input type="submit" class="btn btn-default" value="Изменить" />
		</div>
	</div>
}
