@model List<AhovRepository.Entity.OrgEntity>

@{
	ViewBag.Title = "Доступные орагниации";
}

@if (Model.Any())
{
	<div class="container">
		<div class="col-lg-6">
			<h3>Доступные организации</h3>
		</div>
	</div>

	<div class="container">
		<div class="col-lg-9">
			<table class="table table-hover">
				<tr>
					<th>Название</th>
					<th></th>
					<th>Численность персонала</th>
					<th>Радиус объекта, м</th>
					<th>Управление</th>
				</tr>
				@foreach (var org in Model)
				{
					<tr>
						<td>@Html.ActionLink(org.Name, "Edit", new {orgId = org.Id})</td>
						<td>@Html.ActionLink("Вещества", "List", "Barrel", new {orgId = org.Id}, null)</td>
						<td>@org.PersonalCount</td>
						<td>@org.Ro</td>
						<th>@Html.ActionLink("Редактирование доступа", "AccessList", "Access", new {orgId = org.Id}, null)</th>
					</tr>
				}
			</table>
		</div>
	</div>
}
else
{
	<div class="container">
		<div class="col-lg-6">
			<h3>Нет доступных организаций</h3>
		</div>
	</div>
}

<div class="container">
	<div class="col-gl-9">
		@Html.ActionLink("Создать организацию", "Create", null, new { @class = "btn btn-default btn-xs" })
	</div>
</div>

