@using AhovRepository.Repository
@model Web.Models.Org.ListOrgModel

@{
	ViewBag.Title = "Доступные орагниации";
}

@if (Model.Items.Any())
{
	<div class="container">
		<div class="col-lg-6">
			<h3>Доступные организации</h3>
		</div>
	</div>

	<div class="container">
		<div class="col-lg-9">
			<table class="table table-hover">
				<tr>
					<th>Название</th>
					<th></th>
					<th>Численность персонала</th>
					<th>Радиус объекта, м</th>
					<th>Управление доступом</th>
				</tr>
				@foreach (var item in Model.Items)
				{
					<tr>
						<td>@Html.ActionLink(item.Org.Name, "Edit", new {orgId = item.Org.Id})</td>
						<td>@Html.ActionLink("Вещества", "List", "Barrel", new {orgId = item.Org.Id}, null)</td>
						<td>@item.Org.PersonalCount</td>
						<td>@item.Org.Ro</td>
						<th>
							@if (item.CanChangeAccess)
							{
								@Html.ActionLink("Редактирование доступа", "AccessList", "Access", new {orgId = item.Org.Id}, null)
							}
							else
							{
								<span>Недостаточно прав</span>
							}
						</th>
					</tr>
				}
			</table>
		</div>
	</div>
}
else
{
	<div class="container">
		<div class="col-lg-6">
			<h3>Нет доступных организаций</h3>
		</div>
	</div>
}

<div class="container">
	<div class="col-gl-9">
		@Html.ActionLink("Создать организацию", "Create", null, new { @class = "btn btn-default btn-xs" })
	</div>
</div>

