@model Web.Models.Org.OrgModel

<div class="container">
	<div class="col-md-4">
		@Html.EditorFor(x => x.Org.Name, "StringEditor")
		@Html.EditorFor(x => x.Org.PersonalCount, "IntTemplate")
		@Html.EditorFor(x => x.Org.Length, "NumberEditor")
		@Html.EditorFor(x => x.Org.Width, "NumberEditor")
		@Html.EditorFor(x => x.Org.Ro, "NumberEditor")
		@Html.EditorFor(x => x.Org.Rz, "NumberEditor")
		@Html.EditorFor(x => x.Org.Kf, "NumberEditor")
		@Html.LabelFor(x => x.Org.City.CityId)
		@Html.DropDownListFor(x => x.Org.City.CityId, Model
				.AvaliableCities.Select(x => new SelectListItem
				{
					Selected = Model.Org.City.CityId == x.CityId,
					Text = x.Name,
					Value = x.CityId.ToString()
				}), null, new {@class="form-control"})
	</div>
</div>