@model AhovRepository.Entity.OrgEntity

<div class="col-md-4">
		@Html.EditorFor(x => x.Ba, "NumberEditor")
		@Html.EditorFor(x => x.Bu, "NumberEditor")
		@Html.EditorFor(x => x.Bw, "NumberEditor")
</div>

<div class="col-md-4">
		@Html.EditorFor(x => x.Ba_ch, "NumberEditor")
		@Html.EditorFor(x => x.Bu_ch, "NumberEditor")
		@Html.EditorFor(x => x.Bw_ch, "NumberEditor")
</div>