@model Web.Models.Org.OrgModel

<div class="col-md-4">
		@Html.EditorFor(x => x.Org.Gdl, "NumberEditor")
		@Html.EditorFor(x => x.Org.Gl, "NumberEditor")
		@Html.EditorFor(x => x.Org.Tow, "NumberEditor")
		@Html.EditorFor(x => x.Org.Top, "NumberEditor")
		@Html.EditorFor(x => x.Org.Aao, "NumberEditor")
</div>
