@model AhovRepository.Entity.OrgEntity

<div class="col-md-4">
		@Html.EditorFor(x => x.Gdl, "NumberEditor")
		@Html.EditorFor(x => x.Gl, "NumberEditor")
		@Html.EditorFor(x => x.Tow, "NumberEditor")
		@Html.EditorFor(x => x.Top, "NumberEditor")
		@Html.EditorFor(x => x.Aao, "NumberEditor")
</div>
